

.button3{

}
.button3>button{
    height: 40px;
    width: 38px;
}
.button3>span{
    position: absolute;
    color: white;
    top:94px;
    z-index: 1;
    width: 40px;
    right: 66px;
}

.button3>img{
    position: absolute;
    right: 55px;
    top:94px;
}
.layer{
    position: absolute;
    right: 55px;
    top:-10px;
    width: 180px;
    height: 240px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
}
.layer1{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #B8B8B8;
}
.layer1>div{
    background-color:#009999;
    width:8px;
    height:20px;
    float: left;
    margin: 10px;
}
.layer1>span{
    position: absolute;
    top:8px;
}
.layer2>ul>li{
    height: 18px;
    padding: 5px;
}




.imgUl{
    position: relative;
    margin:0 24px;
}
.imgUl>li{
    float: left;
    width: 60px;
    height: 60px;
    margin:10px;
}
.imgUl>li>div>img{
    
    width: 60px;
    height: 60px;
    
}


.button2{

}
.button2>button{
    height: 40px;
    border-bottom: 1px solid #B8B8B8;
    width: 38px;
}

.button2>span{
    position: absolute;
    color: white;
    top:54px;
    z-index: 1;
    width: 40px;
    right: 66px;
}
.button2>img{
    position: absolute;
    right: 55px;
    top:54px;
}
.botImg{
    position: absolute;
    right: 55px;
    top:-40px;
    width: 470px;
    height: 300px;
    background-color: #ebebeb;
    border-radius: 2px;
    z-index: 2;
    color: #333333;
    font-size: 14px;
    overflow-y: scroll;
}
.botImg::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 50px 8px 1px none;
    border-radius: 50px;
    background-color: none;
}
.botImg::-webkit-scrollbar{
    width: 8px;
    margin-top:8px;
}
.botImg::-webkit-scrollbar-thumb{
    background-color: #7d7d7d;
}

.botImg1{
    width: 100%;
    height: 40px;
    border-bottom:  1px solid #CDCDCD;
    font-size: 16px;    
}
.botImg2{
    width: 94%;
    height: auto;
    border-bottom:  1px solid #CDCDCD;
   padding: 0px 0px 0px 28px;
}
.botImg3{
    width: 93%;
    height: auto;
    padding: 0px 0px 0px 28px;
}

.botImg1>div{
    background-color:#009999;
    width:8px;
    height:20px;
    float: left;
    margin: 10px;
}
.botImg1>span{
    position: absolute;
    top:10px;
}
.botImg2>span{
    position: absolute;
    left: 30px;
    top:44px;
}
.botImg2>div ,.botImg3>div{
    width: 55px;
    height: 55px;
}
.botImg2>div>img , .botImg3>div>img{
    width:60px;
    height: 60px;  
}
.botImg3>span{
    position: absolute;
    left: 30px;
}



.button1{

}
.button1>button{
    height: 40px;
    border-bottom: 1px solid #B8B8B8;
    width: 38px;
}

.button1>span{
    position: absolute;
    color: white;
    top:14px;
    z-index: 1;
    width: 40px;
    right: 66px;
}


.button1>img{
    position: absolute;
    right: 55px;
    top:14px;
}
.radio{
    position: absolute;
    right: 55px;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 2px;
    top:-20px;
    z-index: 20;
}
.radio1,.radio2{
    padding: 10px;
    text-align: center
}


.sliderWrap{
    position: absolute;
    right: 30px;
    top:10px;
     background-color: white;
    width: 36px;
    margin-bottom: 14px;
    border-radius: 4px;
    padding: 6px;
    height: 116px;
}
.base-map{display: inline-block;margin: 7px 15px 10px 0px;}